*,::before,::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div{
    margin: 50px auto;
}

.animation1{
    width: 100px;
    height: 100px;
    background-color: antiquewhite;
    animation: myAnim1 2s ease 0s 1 normal forwards;
}
@keyframes myAnim1 {
    0%,
    50%,
    100% {
      opacity: 1;
    }
  
    25%,
    75% {
      opacity: 0;
    }
  }
.animation2{
    width: 100px;
    height: 100px;
    background-color: rgb(242, 250, 215);
    animation: myAnim2 2s ease 0s 1 normal forwards;
}
@keyframes myAnim2 {
    0% {
      animation-timing-function: ease-in;
      opacity: 1;
      transform: translateY(-45px);
    }
  
    24% {
      opacity: 1;
    }
  
    40% {
      animation-timing-function: ease-in;
      transform: translateY(-24px);
    }
  
    65% {
      animation-timing-function: ease-in;
      transform: translateY(-12px);
    }
  
    82% {
      animation-timing-function: ease-in;
      transform: translateY(-6px);
    }
  
    93% {
      animation-timing-function: ease-in;
      transform: translateY(-4px);
    }
  
    25%,
    55%,
    75%,
    87% {
      animation-timing-function: ease-out;
      transform: translateY(0px);
    }
  
    100% {
      animation-timing-function: ease-out;
      opacity: 1;
      transform: translateY(0px);
    }
  }
.animation3{
    width: 100px;
    height: 100px;
    background-color: rgb(215, 237, 250);
    animation: myAnim3 2s ease 0s 1 normal forwards;
}
@keyframes myAnim3 {
    0% {
      transform: scale3d(1, 1, 1);
    }
  
    30% {
      transform: scale3d(1.25, 0.75, 1);
    }
  
    40% {
      transform: scale3d(0.75, 1.25, 1);
    }
  
    50% {
      transform: scale3d(1.15, 0.85, 1);
    }
  
    65% {
      transform: scale3d(0.95, 1.05, 1);
    }
  
    75% {
      transform: scale3d(1.05, 0.95, 1);
    }
  
    100% {
      transform: scale3d(1, 1, 1);
    }
  }
.animation4{
    width: 100px;
    height: 100px;
    background-color: rgb(246, 215, 250);
    animation: myAnim4 2s ease 0s 1 normal forwards;
}
@keyframes myAnim4 {
    0% {
      animation-timing-function: ease-out;
      transform: scale(1);
      transform-origin: center center;
    }
  
    10% {
      animation-timing-function: ease-in;
      transform: scale(0.91);
    }
  
    17% {
      animation-timing-function: ease-out;
      transform: scale(0.98);
    }
  
    33% {
      animation-timing-function: ease-in;
      transform: scale(0.87);
    }
  
    45% {
      animation-timing-function: ease-out;
      transform: scale(1);
    }
  }
.animation5{
    width: 100px;
    height: 100px;
    background-color: rgb(133, 29, 108);
    animation: myAnim5 2s ease 0s 1 normal forwards;
}
@keyframes myAnim5 {
    0%,
    100% {
      transform: translateX(0);
    }
  
    10%,
    30%,
    50%,
    70% {
      transform: translateX(-10px);
    }
  
    20%,
    40%,
    60% {
      transform: translateX(10px);
    }
  
    80% {
      transform: translateX(8px);
    }
  
    90% {
      transform: translateX(-8px);
    }
  }
.animation6{
    width: 100px;
    height: 100px;
    background-color: rgb(70, 56, 39);
    animation: myAnim6 2s ease 0s 1 normal forwards;
}
@keyframes myAnim6 {
    0%,
    100% {
      transform: translateX(0%);
      transform-origin: 50% 50%;
    }
  
    15% {
      transform: translateX(-30px) rotate(-6deg);
    }
  
    30% {
      transform: translateX(15px) rotate(6deg);
    }
  
    45% {
      transform: translateX(-15px) rotate(-3.6deg);
    }
  
    60% {
      transform: translateX(9px) rotate(2.4deg);
    }
  
    75% {
      transform: translateX(-6px) rotate(-1.2deg);
    }
  }
.animation7{
    width: 100px;
    height: 100px;
    background-color: rgb(250, 215, 215);
    animation: myAnim7 2s ease 0s 1 normal forwards;
}
@keyframes myAnim7 {
    0%,
    100% {
      transform: translateY(0) rotate(0);
      transform-origin: 50% 50%;
    }
  
    15% {
      transform: translateY(-30px) rotate(-6deg);
    }
  
    30% {
      transform: translateY(15px) rotate(6deg);
    }
  
    45% {
      transform: translateY(-15px) rotate(-3.6deg);
    }
  
    60% {
      transform: translateY(9px) rotate(2.4deg);
    }
  
    75% {
      transform: translateY(-6px) rotate(-1.2deg);
    }
  }
.animation8{
    width: 100px;
    height: 100px;
    background-color: rgb(240, 10, 10);
    animation: myAnim8 2s ease 0s 1 normal forwards;
}
@keyframes myAnim8 {
    0%,
    100% {
      transform: translateX(0%);
      transform-origin: 50% 50%;
    }
  
    15% {
      transform: translateX(-30px) rotate(6deg);
    }
  
    30% {
      transform: translateX(15px) rotate(-6deg);
    }
  
    45% {
      transform: translateX(-15px) rotate(3.6deg);
    }
  
    60% {
      transform: translateX(9px) rotate(-2.4deg);
    }
  
    75% {
      transform: translateX(-6px) rotate(1.2deg);
    }
  }