*,::before,::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.motif{
    display: flex;
    flex-wrap: wrap;
    margin: 1px;
}

.unite {
    width: 30px;
    height: 30px;
    margin: 1px;
}

.orange {
    background-color: orange;
}

.beige {
    background-color: palegoldenrod;
}

.marron {
    background-color:maroon;
}