*,::before,::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url("images/fond_jaune.png");
    font-family: 'Roboto', sans-serif;
}

nav{
    background-color: rgba(245, 222, 179,0.5);
    font-size: 1.5rem;
}

.collapse{
    display: flex;
    justify-content: space-around;
}

.navbar-nav{
    display: flex;
    align-items: center;
}

.navbar-nav li{
    margin-right: 30px;
    font-weight: bold;
}

.icone{
    font-size: 2.5rem;
    transition: 400ms;
    transform: scale(1);
}

.icone:hover{
transform: scale(1.3);
}

.onglets a:hover {
    color: #760001;
    border-bottom: 3px solid #760001;
}

.separateur{
    background: url("images/separateur.png"), repeat-x top;
    height: 3px;
    width: 100%;
}

main{
  font-size: 2rem;
}

h1{
  color: #760001;
  text-decoration: underline;
  padding-bottom: 50px;
}

.welcomediv{
  background-image: url("images/home.png");
  background-size: cover;
  height: 80vh;
  display: flex;
  justify-content:center;
  align-items: center;
}

.imgWelcome{
  display: flex;
  justify-content:center;
}

.paragrapheHome{
  color: white;
  width: 70%;
  font-size: 2rem;
  text-shadow: 1px 1px whitesmoke;
}

section {
    text-align: center;
}

.epingle{
    display: block;
    width: 20%;
}

.welcome, .aboutme, .careerPro, .projets, .mecontacter{
    margin: 50px auto;
}

.aboutme p, .careerPro p{
    text-align: center;
    width: 50%;
    margin: 20px auto;
}

.aboutme, .careerPro {
    padding: 20px;
}

.welcomediv{
    margin: auto;
    padding: 60px;
}

.icotop{
    display: block;
    margin: -17px auto;
}

.aboutmediv{
  display: flex;
  align-items: center;
  margin-top: 50px;
}

.profil{
  border-radius: 20%;
  width: 30%;
  min-width: 450px;
  margin: 20px;
}

.careerProdiv{
 margin-top: 50px;
}

.projets{
    padding: 30px;
}

.card{
    margin: 20px;
    padding: 5px;
    box-shadow: 4px 4px 4px rgba(24,24,24,0.6);
    transition: 400ms;
    cursor: pointer;
    position: relative;
}

.card:hover{
    transform: scale(1.1);
}

.mesprojets{
    display: flex;
    justify-content: space-around;
    padding: 50px;
}

.mesprojets::after{
  content: "";
  width: 100%;
  height: 2px;
  background-color:#760001 ;
  margin: 50px auto 0px auto;
}

.epingle{
  position: absolute;
  top:-30px;
  left: -30px;
}

.mecontacter{
    border-radius: 1rem;
    box-shadow: 4px 4px 4px rgba(24,24,24,0.6);
    width: 50%;
    color: white;
}

form{
    margin: 50px auto;
    border-radius: 1rem;
}

.formulaire{
    padding: 50px;
    background:linear-gradient(#323291, #77b7ec);
    border-radius: 1rem;
}

.btn-submit{
    width: 100%;
    color: white;
    background-color: #760001;
}

footer{
    margin: 50px auto;
}

.imageHome1{
    width: 90%;
    border-radius: 2rem;
    display: block;
    margin: auto;
    animation: myAnimEntrance 1s ease 0s 1 normal forwards;
}

.titleHome{
  border: none;
  text-align: center;
  text-decoration: none;
  margin: 100px auto;
  text-shadow: 1px 1px ;
}

@keyframes myAnimEntrance {
    0% {
      animation-timing-function: ease-in;
      opacity: 0;
      transform: translateY(-250px);
    }
  
    38% {
      animation-timing-function: ease-out;
      opacity: 1;
      transform: translateY(0);
    }
  
    55% {
      animation-timing-function: ease-in;
      transform: translateY(-65px);
    }
  
    72% {
      animation-timing-function: ease-out;
      transform: translateY(0);
    }
  
    81% {
      animation-timing-function: ease-in;
      transform: translateY(-28px);
    }
  
    90% {
      animation-timing-function: ease-out;
      transform: translateY(0);
    }
  
    95% {
      animation-timing-function: ease-in;
      transform: translateY(-8px);
    }
  
    100% {
      animation-timing-function: ease-out;
      transform: translateY(0);
    }
  }

  .imageHome2{
     display: none;
      animation: myAnimExit 1s ease 0s 1 normal forwards;
  }
  @keyframes myAnimExit {
    0% {
      opacity: 1;
      transform: rotateX(0);
      transform-origin: bottom;
    }
  
    100% {
      opacity: 0;
      transform: rotateX(-70deg);
      transform-origin: bottom;
    }
  }

  .imageHomeDisparition{
    display: none;
  }

  .imageHomeDisplay{
    display: block;
  }

  @media screen and (max-width:800px){
    .mecontacter{
      width: 90%;
      margin: 50px 10px;
    }
    .formulaire{
      padding: 10px;
    }
    .paragrapheHome{
      width: 100%;
    }
    .aboutmediv{
      flex-direction: column;
    }
    .card{
      margin: 70px;
    }
  }