
.signin {
    border: 1px blue solid;
    background-color: blue;
    color: white;
}

header {
    height: 50px;
    background-color: rgb(202, 199, 199);
    margin: auto;
}

.navig {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 10px;
}


main {
    background-image: url(./mer.jpg);
    object-fit: cover;
    height: 500px;
    text-align: center;
    
}

.signup {
    color: white;
    background-color: blue;
    width: 100px;
    padding: 5px;
}

.inputtext {
    width: 250px;
    padding: 5px;
}

.titres {
    margin: auto;
    padding: 150px;
    max-width: 800px;
    color: white;
}

footer {
    display: flex;
    justify-content: center;
    height: auto;
    background-color: rgb(202, 199, 199);
    padding-top: 30px;
}

article {
    width: 300px;
    margin-right:50px ;
}

article ul {
    list-style: none;
}

span {
    font-size: 3rem;
    color: blue;
}